
<div class="carousel-1">
<mdb-carousel [animation]="'slide'">
    <mdb-carousel-item>
        <img class="d-block w-100 " src="assets/images/slide1.jpg" alt="First slide">
        <div class="carousel-caption">
            <p class="h1 morco-polo"> Marco polo tiles world class tiles at affordable price</p>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="carousel-caption">
            <p class="h1 morco-polo "> Designed to impress you
            </p>
        </div>
        <img class="d-block w-100 " src="assets/images/slide2.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/images/slide3.jpg" alt="Third slide">
        <div class="carousel-caption">
            <p class="h1 morco-polo"> Live life naturally</p>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/images/slide1.jpg" alt="First slide">
        <div class="carousel-caption">
            <p class="h1 morco-polo"> Marco polo tiles world class tiles at affordable price</p>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/images/slide5.jpg" alt="Second slide">
        <div class="carousel-caption">
            <p class="h1 morco-polo"> flooring is an art</p>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/images/slide3.jpg" alt="Third slide">
        <div class="carousel-caption">
            <p class="h1 morco-polo"> Adding shine to your floor</p>
        </div>
    </mdb-carousel-item>
</mdb-carousel>
</div>