<div class="foot-color py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 justify-content-center">
                <div class="row">
                <div class="col-md-10">
                <img class="img-fluid" src="assets/images/logo.png" width="80px" alt="Marcopolo Logo">
                <p class="text-white"> <strong>Marcopolo Tiles company LTD.</strong> </p>
                
                <p class="text-white"> Head Office : No.1938 mungwi road lusaka<br>
                    West kasupe Zambia </p>
                    
                    <p class="text-white">Town Office : Plot 7212, Mulalika road,off Lumumba road, P.O.Box 31211 lusaka Zambia </p>

                <p class="text-white">E: <a href="mailto:info@Marcopolotiles.com">info@Marcopolotiles.com</a></p>
            </div>
        </div>
            </div>
            <div class="col-md-6 ">
                <h2 class="text-white">About Marcopolo Tiles</h2>
                <p class="text-white"> Marco polo Tiles is the renowned brand as tile manufacturers, tiles exporters, and is committed to providing high-quality porcelain tiles.</p>
                
            </div>
            <div class="col-md-3 justify-content-center">
                <h2 class="text-white">Quick Links</h2>
                <div class="footLinks">
                    <div class="menu-useful-links-container">
                        <ul id="menu-useful-links" class="menu">
                            <li class="text-white"><a
                                    href="#">Company Profile</a></li>
                                    <li class="text-white"><a
                                        href="#">Technical Specifications</a></li>
                            <li class="text-white"><a
                                    href="#">FAQ</a></li>
                            <li class="text-white"><a
                                    href="#">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="line">
        <div class="row">
            <div class="col-md-7">
                <p class="text-white"> &copy; 2020, All Rights Reserved By <a href="#">Marcopolo tiles Company. Ltd.</a> </p>
            </div>
           
            
        </div>
    </div>
</div>