<app-header></app-header>

<div class="">
  <div class="container">
    <p class="h2 pt-5"> NEWS</p>

    <div class="row py-2">
      <div class="col-md-6">
        <p class="h5 py-2">MARCOPOLO TILES DONATES CHILANGA COPS</p>
        <img
          src="https://res.cloudinary.com/niteoit/image/upload/v1589883579/morcopolo/Screenshot_2020-05-19_at_3.48.34_PM_mkdnbh.png"
          class="img-fluid">
        <p class="h6 text-center">
          “We know that the government cannot manage to do everything by themselves, so as Marcopolo Tiles
          will always come in to supplement the Zambian government’s efforts,” Mr Sinyangwe said.
        </p>
        <div class="text-center py-3">
          <button type="button" mdbBtn color="dark" rounded="true" routerLink="/blog-two" mdbWavesEffect>learn
            more</button>

        </div>
      </div>
      <div class="col-md-6">
        <p class="h5 py-2">Ambassador Yang Youming Attends the Launch Ceremony of Marco Polo Tiles Zambia</p>
        <img
          src="https://res.cloudinary.com/niteoit/image/upload/v1589901426/morcopolo/Screenshot_2020-05-19_at_8.46.51_PM_ivwdpk.png"
          class="img-fluid">

        <p class="h6 text-center pb-2">
          Chinese Ambassador to Zambia H.E. Mr. Yang Youming attended the launch ceremony of Marco Polo Tiles
          Zambia. H.E. Mr. Edgar Lungu, President of the Republic of Zambia officially commissioned the
          factory.
        </p>
        <div class="text-center py-2">
          <button type="button" mdbBtn color="dark" rounded="true" routerLink="/blog" mdbWavesEffect>learn
            more</button>
        </div>
      </div>


    </div>
  </div>


  <div class="products pb-4">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6 tile-product pr-0">
          <p class="h1 text-secondary "><br> Blogs</p>
          <div class="py-3 px-3 differ">
            <p class=" line-height">
              Well, for one, they require very low maintenance, especially when compared with natural
              stone and hardwood. Porcelain tile is a sealed (non-porous) surface product that requires
              little-to-no attention other than regular household upkeep. They are also more difficult to
              scratch, stain, and resist moisture and frost, which makes them an attractive option for
              high-traffic areas.
              If you are a person who prefers low maintenance, you are going to love porcelain floors.
              Touching on the ‘moisture resistance’ again, the composition used to make porcelain tiles,
              absorb less water, usually, 0.5 percent or less. This makes them an ideal option for use in
              wet areas.
              It should come as no surprise now, but porcelain tiles are processed in a way that they can
              withstand extreme temperature and weather as well. They have a high PEI rating, which means
              they are the best tiling option in areas that can be exposed to harsh weather – think patios
              or pathways. To wrap this up, porcelain tiles are resistant to stain, fade, slip, chip, and
              scratch, moisture and extreme temperatures. On top of that, they are some of the easiest
              flooring options to clean, maintain, live with and will look brilliant for many years.
              Combine their durability and ease of maintenance with just how classy they look, and it’s
              not hard to understand why porcelain is dominating the flooring industry today. Although
              porcelain tiles are a little expensive, they are certainly a very good investment.
            </p>
          </div>
        </div>
        <div class="col-md-6 pl-0 blogCarousel">
          <mdb-carousel [animation]="'slide'">
            <mdb-carousel-item>
              <img class="d-block w-100"
                src="https://res.cloudinary.com/niteoit/image/upload/v1589899260/morcopolo/glazed-porcelain-tiles-500x500_hnhjuk.jpg"
                alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100"
                src="https://res.cloudinary.com/niteoit/image/upload/v1589899260/morcopolo/main-qimg-13bdb4a4bcd96554a2cd6e4a96829100_hbpuny.jpg"
                alt="Second slide">
            </mdb-carousel-item>

          </mdb-carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12 tile-product mb-4">
          <div class="py-3 px-3 differ">
            <p class="line-height mb-0 text-center h5">
              IDC COMMENDS MARCOPOLO TILES COMPANY LTD FOR COMPLETING $15MILLION EXPANSION PROJECT.
            </p>
          </div>
        </div>
        <div class="col-md-6 tile-product">
          <img src="assets/images/manufacturing.jpg" alt="" width="100%">
        </div>
        <div class="col-md-6 tile-product p-3">
          <p class="red-text h6">Manufacturing, Strategy</p>
          <p class="h6">Posted on January 21, 2021 at 6:09 pm.</p>
          <p class="h6">Written by <span class="red-text">Industrial Development Corp Press</span> </p>
          <p>
           <b> Lusaka, 21st January 2021 </b> – The Industrial Development Corporation (IDC) has commended Marcopolo Tiles
            Company Limited (MTCL) on the completion of Phase IV of the Company’s’ expansion project, at a cost of
            $15million, which will make it the first Zambian manufacturer of sanitary ware.
          </p>
          <button type="button" mdbBtn color="dark" rounded="true" routerLink="/idc-blog" mdbWavesEffect>learn
            more</button>
        </div>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
