<app-header></app-header>
<div class="container py-5">
<p class="h6 line-height">
    WE will always be available to supplement the Zambian government’s efforts in the prevention of Coronavirus (COVID-19), a Chinese parastatal, Marcopolo Tiles Company Limited has said.<br>
    Company sales and marketing manager, Mark Sinyangwesaid the Chinese parastatal wants to ensure that the communities and police officers were engaged in fighting the pandemic by providing them with necessary incentives.<br>
    Mr Sinyangwe said this when he handed over the donations made by his company which included hand sanitizers, face masks, hand washing buckets, disinfectants and hand heldthermometers among others to the Zambia police Lusaka Division COVID-19 preparedness response committee yesterday.<br>
    Marcopolo Tiles Company Limited made the donations to Matero police station in Lusaka, as well as Marcopolo, Bob Bromes and ZAF police posts in Chilanga district.  <br>
    Mr Sinyangwe who was flanked by Marcopolo Tiles Company general manager, Peter Zhou said for police officers who are front runners in the fight against CONVID-19 needed protective gears to do their job diligently.<br>
    “We need to fight this Coronavirus together and as Marcopolo Tiles we have gone a step further by donating these assorted items to the Zambia Police Lusaka Division COVID-19 preparedness response committee to ensure they are protected as they meet different people.<br>
    “We know that the government cannot manage to do everything by themselves, so as Marcopolo Tiles will always come in to supplement the Zambian government’s efforts,” Mr Sinyangwe said.<br>
    He hoped that the donated items would make a difference in combating the pandemic.<br>
    Meanwhile, Chilanga Member of Parliament Maria Langathanked Marcopolo Tiles for contributing towards government efforts of preventing the spread of COVID-19.<br>
    Ms Langa in whose constituency the Marcopolo Tiles Company is housed and in which donations were made from said will forever remain grateful for the good gesture.<br>
    She said the fight against the deadly COVID-19 needed concerted efforts and urged other organization in her constituency to emulate Marcopolo Tiles by coming on board to complement the government efforts in the fight against the pandemic.<br>
    And, Creto Kaanza, a senior police superintendent who also witnessed the handover, said the donated <br>
    Mr Kaaza said that the donation was timely and would go a long way in the fight against the spread of COVID-19.
</p>
</div>
<app-footer></app-footer>