<app-header></app-header>
<div class="container py-5">
  <div class="row">
    <div class="col-md-12 mb-4">
      <p class="h3">IDC COMMENDS MARCOPOLO TILES COMPANY LTD FOR COMPLETING $15MILLION EXPANSION PROJECT.</p>
    </div>
    <div class="col-md-7">
      <img src="assets/images/manufacturing.jpg" alt="" width="100%">
    </div>
    <div class="col-md-5">
      <p class="red-text h6">Manufacturing, Strategy</p>
      <p class="h6">Posted on January 21, 2021 at 6:09 pm.</p>
      <p class="h6">Written by <span class="red-text">Industrial Development Corp Press</span> </p>

    </div>
    <div class="col-md-12 my-5">
      <p class="h6">
        <b> Lusaka, 21st January 2021 </b> – The Industrial Development Corporation (IDC) has commended Marcopolo Tiles
        Company Limited (MTCL) on the completion of Phase IV of the Company’s’ expansion project, at a cost of
        $15million, which will make it the first Zambian manufacturer of sanitary ware.
      </p>
      <br>
      <img src="assets/images/logo_w.png" alt="" width="100%">
      <br>
      <br>
      <p class="h6">
        “We at the IDC are proud to be associated with the growth of a Zambian manufacturing company which is for the
        first time in this country going to be producing bathtubs, toilets and handwash basins, in addition to the tiles
        that it has been producing since its establishment in 2016”, said Mr Mateyo Kaluba, IDC Group CEO.
      </p>
      <p class="text-center">
        <img src="assets/images/MARCOPOLO_LOGO.png" alt="" width="200px">
      </p>
      <p class="h6 my-5">
        He said, the new products will be manufactured using materials sourced within the country. This new production
        line will result in forex earnings as well as forex savings for the country, as Zambians no longer need to
        import these products. We will now be an exporter of sanitary ware rather than an importer. More importantly, it
        will result in new wealth and new jobs for Zambians.
      </p>
      <p class="h6 my-5">
        In August 2020, the IDC, NAPSA and Workers Compensation Fund Control Board (WCFCB) partnered to acquire
        shareholding of 49% in Marcopolo Tiles Company Ltd at a cost of $44.8million following a comprehensive due
        diligence and independent valuation. IDC’s shareholding in Marcopolo Tiles Company Ltd is 22.61%, while NAPSA
        and WCFCB acquired 16.39% and 10% respectively.
      </p>
      <p class="h6 my-5">
        Marcopolo Tiles Company Ltd is a state-of-the-art automated tile manufacturing plant situated in Lusaka west
        with an installed capacity of 10.8million square meters of tiles per annum or 40,000 square meters of tiles per
        day. The local market accounts for 60% of its sales while 40% is exported to the region and it currently employs
        700 employees and supports over 4000 indirect jobs across the value chain. It utilises 95% local materials to
        produce Tiles.
      </p>
      <p class="h6 my-5">
        Mr Kaluba said the IDC has focused on investing in greenfield and brownfield projects in the manufacturing
        sector as part of its growth strategy. “Our interest in investing in Marcopolo Tiles Company Ltd emanates from
        its unique place as the only tile manufacturing plant in Sub Saharan Africa outside of South Africa. The
        expansion of Marcopolo Tiles Company Ltd further down the value chain was a key attraction to our investment in
        the Company.
      </p>
      <p class="h6 my-5">
        “The fact that the Phase IV project has materialized gives us great comfort that our joint investment with NAPSA
        and WCFCB is going to have the desired impact on forex earnings through exports and on job creation through the
        value chain. Marcopolo is a highly profitable company with net profits margins averaging 40% over the last three
        years and this new production line guarantees the IDC and our partners NAPSA and WCFCB greater dividends over
        the coming years. I urge Zambians to buy locally manufactured products, as these products meet the highest
        international standards”, said Mr Kaluba.
      </p>
      <p class="h6 my-5">
        He further stressed that the coming into effect of the Africa Continental Free area means that Zambia must
        itself be a manufacturing hub so that the country can take advantage of the continental free area. In the
        absence of our own strong manufacturing capacity, we risk being disadvantaged within the context of the free
        trade area.
      </p>
      <p class="h6 my-5">
        Mr Kaluba reiterated that the IDC will continue to seek investment opportunities both greenfield and brownfield,
        listed and unlisted in areas that add value to Zambia’s natural resources.
      </p>
      <p class="h6 my-5">
        <small>Issued by: (Original signed)</small> <br><br>
        Ms. Namakau Mukelabai <br><br>
        Head of Corporate Communication <br><br>
        Industrial Development Corporation
      </p>

    </div>
  </div>
</div>

<app-footer></app-footer>
