<div class="pt-5 mt-5">

    <div class="container py-5">
        <p class="h3">Product description</p>
        <div class="container py-3">
            <div class="row">
                <div class="col-md-8">

                    <p class="line-height h6">
                    <p class="line-height h6">
                        <b class="text-primary">Matt porcelain tiles:</b>
                        <br>As the name suggest it is natural because it
                        receives no treatment or polishing and is in its natural form appearing rough and rustic. It is
                        ideal for wet areas or in high traffic area because it is stronger and less slippery.</p>

                    <p class="line-height h6">
                        <b class="text-primary"> Glazed porcelain tiles:</b>
                        <br> It does not receive the glossy finishing and hence
                        retains the rough matte look and feel. Preferably installed in any part of the home areas.</p>

                    <p class="line-height h6">
                        <b class="text-primary">Polished porcelain tiles:</b>
                        <br> Polished porcelain tiles appreciated for its
                        rich lustrous and smooth finishing. Therefore, it is quite popular among designers and
                        homeowners
                        for the luxury it brings in the interior decoration of the home. For its glossy elegant look, it
                        is
                        preferred in the living room, hallway, dining room and bedrooms.</p>


                </div>
                <div class="col-md-4 pt-5">
                    <img class="size-full wp-image-994 img-fluid"
                        src="https://res.cloudinary.com/niteoit/image/upload/v1589881219/36BD84FE-9C8B-42BE-8A41-4F1F6ABF52EB_lvo8rq.jpg"
                        style="float: right;" alt="Ravi Rajpurohit">

                    <p class="text-center">Our Package Look</p>

                </div>

                <div class="col-md-12 mt-4 text-center">
                    <a type="button" mdbBtn color="primary" mdbWavesEffect
                        href="https://makautwb.ac.in/syllabus/MCA_New_Syllabus.pdf" target="_blank">More</a>
                </div>
            </div>



        </div>
    </div>

</div>
<app-footer></app-footer>