<section>

  <div class="row">
    <div class="col-md-6">
      <div class="px-5 color-hex">

        <div class="selectview">
          <mat-form-field>
            <mat-select [(ngModel)]="selected">
              <mat-option value="option1">Physics</mat-option>
              <mat-option value="option2">Chemistry</mat-option>
              <mat-option value="option3">Maths</mat-option>
            </mat-select>
          </mat-form-field>

          <button type="button" mdbBtn size="sm" class="roundedge hexbtn ml-3" mdbWavesEffect routerLink="/master/create-course">Create Course</button>
        </div>

        <div class="d-flex flex-wrap mt-3">
          <div class="boxes">
            <h1>1</h1>
            <h2>
              <a href="javascript:void(0)" class="color-hex">
                <mdb-icon fas icon="circle"></mdb-icon>
              </a>
            </h2>
          </div>
          <div class="boxes">
            <h1>2</h1>
            <h2>
              <a href="javascript:void(0)" class="color-hex">
                <mdb-icon fas icon="circle"></mdb-icon>
              </a>
            </h2>
          </div>
          <div class="boxes">
            <h1>3</h1>
            <h2>
              <!-- <mdb-icon fas icon="circle"></mdb-icon> -->
              <a href="javascript:void(0)" class="color-hex">
                <mdb-icon fas icon="circle"></mdb-icon>
              </a>
            </h2>
          </div>
          <div class="boxes">
            <h1>4</h1>
            <h2>
              <a href="javascript:void(0)" class="color-hex">
                <mdb-icon fas icon="circle"></mdb-icon>
              </a>
            </h2>
          </div>
          <div class="boxes">
            <h1>5</h1>
            <h2>
              <a href="javascript:void(0)" class="color-hex">
                <mdb-icon fas icon="circle"></mdb-icon>
              </a>
            </h2>
          </div>
          <div class="boxes">
            <h1>6</h1>
            <h2>
              <a href="javascript:void(0)" class="color-hex">
                <mdb-icon fas icon="circle"></mdb-icon>
              </a>
            </h2>
          </div>
          <div class="boxes">
            <h1>7</h1>
            <h2>
              <a href="javascript:void(0)" class="color-hex">
                <mdb-icon far icon="circle"></mdb-icon>
              </a>

            </h2>
          </div>
          <div class="boxes">
            <h1>8</h1>
            <h2>
              <a href="javascript:void(0)" class="color-hex">
                <mdb-icon far icon="circle"></mdb-icon>
              </a>

            </h2>
          </div>
          <div class="boxes">
            <h1>9</h1>
            <h2>
              <a href="javascript:void(0)" class="color-hex">
                <mdb-icon far icon="circle"></mdb-icon>
              </a>

            </h2>
          </div>
          <div class="boxes">
            <h1>10</h1>
            <h2>
              <!-- <mdb-icon fas icon="circle"></mdb-icon> -->
              <a href="javascript:void(0)" class="color-hex">
                <mdb-icon far icon="circle"></mdb-icon>
              </a>

            </h2>
          </div>
          <div class="boxes ml-3">
            <div class="h-100 flex-center">
              <h3>
                <a href="javascript:void(0)" class="color-hex">
                  <mdb-icon fas icon="video" size="2x"></mdb-icon>
                </a>
              </h3>
            </div>

          </div>

        </div>
      </div>

    </div>
    <div class="col-md-6 pl-1">
      <div class="row">
        <div class="col-md-4">
          <mat-card class="contentcards" style="background: #15305e;">
            <div class="contentcardContent">
              <mdb-icon fas icon="book" class="float-right text-white-50" size="4x"></mdb-icon>
              <p class="h2 text-white">3</p>
            </div>
            <h2 class="mb-1 text-white">Subjects</h2>
          </mat-card>
        </div>
        <div class="col-md-4 pl-1">
          <mat-card class="contentcards" style="background: #214682;">
            <div class="contentcardContent">
              <mdb-icon fas icon="user-plus" class="float-right text-white-50" size="4x"></mdb-icon>
              <p class="h2 text-white">25</p>
            </div>
            <h2 class="mb-1 text-white">Students</h2>
          </mat-card>
        </div>
        <div class="col-md-4 pl-1">
          <mat-card class="contentcards" style="background: #15305e;">
            <div class="contentcardContent">
              <mdb-icon fab icon="buffer" class="float-right text-white-50" size="4x"></mdb-icon>
              <p class="h2 text-white">162</p>
            </div>
            <h2 class="mb-1 text-white">Sessions</h2>
          </mat-card>
        </div>
      </div>
    </div>
  </div>



  <div class="row py-3">
    <div class="col-md-8">

      <mat-card class="pt-4">

        <div class="row">
          <div class="col-md-12">
            <h3 class="mb-1 timestampforVideo">
              <mdb-icon fas icon="stopwatch" size="lg"></mdb-icon> 01:00:03
            </h3>
            <img src="assets/images/dashboard/liveVideoThumb.png" alt="" class="img-fluid" width="65%">

            <div class="row p-3">
              <div class="col-5">
                <h3 class="mb-0 cyan-dark-text">Tutor : Sandeep Tekkali</h3>
                <h3 class="cyan-dark-text">Subject : Maths | Chapter 02 Alzebra</h3>
              </div>
              <div class="col-2">
                <button type="button" mdbBtn size="sm" class="roundedge hexbtn " mdbWavesEffect>Upload</button>
              </div>
            </div>
          </div>

        </div>



        <div class="mt-4">
          <mat-tab-group mat-stretch-tabs>
            <mat-tab label="Videos">
              <div class="m-3 px-3 py-5">
                <div class="row">
                  <div class="col-md-12">

                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Assignments">
              <div class="m-3 p-3">
                <h1>processing</h1>


              </div>
            </mat-tab>
            <mat-tab label="Material">
              <div class="m-3 p-3">
                <h1>processing</h1>


              </div>
            </mat-tab>
            <mat-tab label="Document">
              <div class="m-3 p-3">
                <h1>processing</h1>

              </div>
            </mat-tab>
            <mat-tab label="Syllabus">
              <div class="m-3 p-3">
                <h1>processing</h1>


              </div>
            </mat-tab>

          </mat-tab-group>
        </div>

      </mat-card>
    </div>

    <div class="col-md-4 pl-1">
      <div class="row">
        <div class="col-md-12">
          <div class="flex-center h-100">
            <button type="button" mdbBtn size="sm" class="roundedge hexbtn " mdbWavesEffect>Create</button>
            <a href="javascript:void(0)" class="color-hex">
              <mdb-icon fas icon="comment-dots" class="ml-3" size="3x"> </mdb-icon>
            </a>
            <a href="javascript:void(0)" class="color-hex">
              <mdb-icon fas icon="bell" class="ml-3" size="3x" matBadge="1" matBadgeColor="warn"> </mdb-icon>
            </a>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-card class="mt-3">
            processing..
          </mat-card>
        </div>
      </div>




    </div>

  </div>


</section>
