<app-header></app-header>

<div class="">
    <div class="container">
        <p class="h2 pt-5"> NEWS</p>

        <div class="row py-2">
            <div class="col-md-6">
                <p class="h5 py-2">MARCOPOLO TILES DONATES CHILANGA COPS</p>
                <img src="https://res.cloudinary.com/niteoit/image/upload/v1589883579/morcopolo/Screenshot_2020-05-19_at_3.48.34_PM_mkdnbh.png"
                    class="img-fluid">
                <p class="h6 text-center">
                    “We know that the government cannot manage to do everything by themselves, so as Marcopolo Tiles
                    will always come in to supplement the Zambian government’s efforts,” Mr Sinyangwe said.
                </p>
                <div class="text-center py-3">
                    <button type="button" mdbBtn color="dark" rounded="true" routerLink="/blog-two" mdbWavesEffect>learn
                        more</button>

                </div>
            </div>
            <div class="col-md-6">
                <p class="h5 py-2">Ambassador Yang Youming Attends the Launch Ceremony of Marco Polo Tiles Zambia</p>
                <img src="https://res.cloudinary.com/niteoit/image/upload/v1589901426/morcopolo/Screenshot_2020-05-19_at_8.46.51_PM_ivwdpk.png"
                    class="img-fluid">

                <p class="h6 text-center pb-2">
                    Chinese Ambassador to Zambia H.E. Mr. Yang Youming attended the launch ceremony of Marco Polo Tiles
                    Zambia. H.E. Mr. Edgar Lungu, President of the Republic of Zambia officially commissioned the
                    factory.
                </p>
                <div class="text-center py-2">
                    <button type="button" mdbBtn color="dark" rounded="true" routerLink="/blog" mdbWavesEffect>learn
                        more</button>

                </div>
            </div>


        </div>
    </div>
    <!-- <div class="container">
        <p class="h2 pt-5">BLOG</p>
        <mdb-carousel  [animation]="'slide'">
            <mdb-carousel-item>
                <div class="row py-2">
                    <div class="col-md-4">
                        <p class="h5 py-2">CREATIVE CLOUD</p>
                        <img src="/assets/images/homeParallaxImg.jpg" class="img-fluid">
                        <p class="h3 text-center py-3  adobe">Creativity for all.</p>
                        <p class="h6 text-center">
                            Adobe Creative Cloud gives you the world's best creative apps and services so you can make
                            anything you can imagine, wherever you're inspired.
                        </p>
                        <div class="text-center py-3">
                            <button type="button" mdbBtn color="dark" rounded="true" routerLink="/blog"
                                mdbWavesEffect>learn more</button>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="h5 py-2">COMMUNITY</p>
                        <img src="/assets/images/homeParallaxImg.jpg" class="img-fluid">
                        <p class="h3 text-center py-3  adobe">#HonorHeroes</p>
                        <p class="h6 text-center pb-2">
                            The creative community is coming together to honor the heroes who keep our world turning.
                        </p>
                        <div class="text-center py-5">
                            <button type="button" mdbBtn color="dark" rounded="true" routerLink="/blog"
                                mdbWavesEffect>learn more</button>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="h5 py-2">ADOBE DESIGN</p>
                        <img src="/assets/images/homeParallaxImg.jpg" class="img-fluid">
                        <p class="h3 text-center py-3  adobe">Signed. Sealed. Next?</p>
                        <p class="h6 text-center pb-2">
                            Keep your business moving forward with 30% off our Adobe Sign Small Business plan.

                        </p>
                        <div class="text-center py-5">
                            <button type="button" mdbBtn color="dark" rounded="true" routerLink="/blog"
                                mdbWavesEffect>learn more</button>

                        </div>
                    </div>

                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="row py-5">
                    <div class="col-md-4">
                        <p class="h5 py-2">CREATIVE CLOUD</p>
                        <img src="/assets/images/404img.png" class="img-fluid">
                        <p class="h3 text-center py-3  adobe">Creativity for all.</p>
                        <p class="h6 text-center">
                            Adobe Creative Cloud gives you the world's best creative apps and services so you can make
                            anything you can imagine, wherever you're inspired.
                        </p>
                        <div class="text-center py-3">
                            <button type="button" mdbBtn color="dark" rounded="true" routerLink="/blog"
                                mdbWavesEffect>learn more</button>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="h5 py-2">COMMUNITY</p>
                        <img src="/assets/images/404img.png" class="img-fluid">
                        <p class="h3 text-center py-3  adobe">#HonorHeroes</p>
                        <p class="h6 text-center pb-2">
                            The creative community is coming together to honor the heroes who keep our world turning.
                        </p>
                        <div class="text-center py-5">
                            <button type="button" mdbBtn color="dark" rounded="true" routerLink="/blog"
                                mdbWavesEffect>learn more</button>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="h5 py-2">ADOBE DESIGN</p>
                        <img src="/assets/images/404img.png" class="img-fluid">
                        <p class="h3 text-center py-3  adobe">Signed. Sealed. Next?</p>
                        <p class="h6 text-center pb-2">
                            Keep your business moving forward with 30% off our Adobe Sign Small Business plan.

                        </p>
                        <div class="text-center py-5">
                            <button type="button" mdbBtn color="dark" rounded="true" routerLink="/blog"
                                mdbWavesEffect>learn more</button>

                        </div>
                    </div>

                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div> -->
    <div class="products">
        <div class="container py-5 ">
            <div class="row">
                <div class="col-md-6 tile-product pr-0">
                    <p class="h1 text-secondary "><br> Blogs</p>
                    <div class="py-3 px-3 differ">
                        <p class=" line-height">
                            Well, for one, they require very low maintenance, especially when compared with natural
                            stone and hardwood. Porcelain tile is a sealed (non-porous) surface product that requires
                            little-to-no attention other than regular household upkeep. They are also more difficult to
                            scratch, stain, and resist moisture and frost, which makes them an attractive option for
                            high-traffic areas.
                            If you are a person who prefers low maintenance, you are going to love porcelain floors.
                            Touching on the ‘moisture resistance’ again, the composition used to make porcelain tiles,
                            absorb less water, usually, 0.5 percent or less. This makes them an ideal option for use in
                            wet areas.
                            It should come as no surprise now, but porcelain tiles are processed in a way that they can
                            withstand extreme temperature and weather as well. They have a high PEI rating, which means
                            they are the best tiling option in areas that can be exposed to harsh weather – think patios
                            or pathways. To wrap this up, porcelain tiles are resistant to stain, fade, slip, chip, and
                            scratch, moisture and extreme temperatures. On top of that, they are some of the easiest
                            flooring options to clean, maintain, live with and will look brilliant for many years.
                            Combine their durability and ease of maintenance with just how classy they look, and it’s
                            not hard to understand why porcelain is dominating the flooring industry today. Although
                            porcelain tiles are a little expensive, they are certainly a very good investment.
                        </p>
                        <div class="row">
                            <div class="col-6">



                            </div>
                            <div class="col-6 ">



                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-0">
                    <mdb-carousel [animation]="'slide'">
                        <mdb-carousel-item>
                            <img class="d-block w-100"
                                src="https://res.cloudinary.com/niteoit/image/upload/v1589899260/morcopolo/glazed-porcelain-tiles-500x500_hnhjuk.jpg"
                                alt="First slide">
                        </mdb-carousel-item>
                        <mdb-carousel-item>
                            <img class="d-block w-100"
                                src="https://res.cloudinary.com/niteoit/image/upload/v1589899260/morcopolo/main-qimg-13bdb4a4bcd96554a2cd6e4a96829100_hbpuny.jpg"
                                alt="Second slide">
                        </mdb-carousel-item>

                    </mdb-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="news-list">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-10">
                        <p class="h4">Products</p>
                        <div class="col-10">
                            <ul class="ulist">
                                <li>Creative Cloud</li>
                                <li>Experience Cloud</li>
                                <li>Document Cloud</li>
                                <li>Elements 2020 Family</li>
                                <li>Special offers</li>
                                <li>View all products</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2 vl d-none d-xl-block  "></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-10">
                        <p class="h4">Blog & Community</p>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <ul class="ulist">
                                        <li>Creative Cloud</li>
                                        <li>Experience Cloud</li>
                                        <li>Document Cloud</li>
                                        <li>Elements 2020 Family</li>
                                        <li>Special offers</li>
                                        <li>View all products</li>
                                    </ul>
                                </div>
                                <div class="col-5">
                                    <ul class="ulist">
                                        <li>Creative Cloud</li>
                                        <li>Special offers</li>
                                        <li>View all products</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 vl d-none d-xl-block"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-10">
                        <p class="h4">Support</p>
                        <div class="col-10">
                            <ul class="ulist">
                                <li>Creative Cloud</li>
                                <li>Experience Cloud</li>
                                <li>Document Cloud</li>
                                <li>Elements 2020 Family</li>
                                <li>Special offers</li>
                                <li>View all products</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2 vl d-none d-xl-block"></div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-md-12">
                        <p class="h4">Adobe</p>
                        <div class="col-md-10">
                            <ul class="ulist">
                                <li>Creative Cloud</li>
                                <li>Experience Cloud</li>
                                <li>Document Cloud</li>
                                <li>Elements 2020 Family</li>
                                <li>Special offers</li>
                                <li>View all products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<app-footer></app-footer>