<div class="pt-5">
<div class="container py-5">
    <p class="h2 pt-3">GALLERY</p>
    <div class="row my-3">
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/niteoit/image/upload/v1589901125/morcopolo/Screenshot_2020-05-19_at_8.40.32_PM_muaylf.png" class="img-fluid">
            <p class="h6">His Excellency Mr.Edgar C. Lungu Meets with Mr. Huang Yaochi.</p>
        </div>
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/niteoit/image/upload/v1589901426/morcopolo/Screenshot_2020-05-19_at_8.46.51_PM_ivwdpk.png" class="img-fluid">
            <p class="h6">
                His Excellency Mr. Li Jie Chinese Ambassador to Zambia at Marco polo Opening Ceremony.</p>

        </div>
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/niteoit/image/upload/v1589901124/morcopolo/Screenshot_2020-05-19_at_8.40.59_PM_zfbsrj.png" class="img-fluid">
            <p class="h6">His Excellency Mr.Edgar C.Lungu at Marcopolo factory.</p>

        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/niteoit/image/upload/v1589901122/morcopolo/Screenshot_2020-05-19_at_8.41.21_PM_wjruhw.png" class="img-fluid">

        </div>
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/niteoit/image/upload/v1589901128/morcopolo/Screenshot_2020-05-19_at_8.41.32_PM_gtyll9.png" class="img-fluid">
            

        </div>
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/niteoit/image/upload/v1589901121/morcopolo/Screenshot_2020-05-19_at_8.41.13_PM_ndb6zc.png" class="img-fluid">
         

        </div>
    </div>
    <div class="row my-3">
      
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/niteoit/image/upload/v1589901125/morcopolo/Screenshot_2020-05-19_at_8.40.41_PM_sqpyfa.png" class="img-fluid">
            <p class="h6">UN Environmental Protection Agency officials at Marco polo Factory Visit</p>

        </div>
        
    </div>
</div> 
</div>
<app-footer></app-footer>