<!-- 
<div class="headerContainer">

  <div class="centerAlign"> <a class="logoWrap" style="width: 125px;height: 150px;" title="Lavish Ceramics- Morbi"
      href="home.html"> <img src="assets/images/brand.png" alt="Lavish Ceramics- Morbi">
      <meta content="Lavish Ceramics- Morbi"></a>

    <div class="navContainer">

      <ul class="langOption">

      </ul>

      <div class="mainNavContainer">

        <div class="fixCenterAlign">

          <div class="fxdLogo"> <a href="home.html"> <img src="assets/images/logo.png"
                style="width: 70px;height: 40px;" alt="img"> </a> </div>

          <div class="navWrap">

            <ul>

              <li id="menu-item-21"
                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6 current_page_item menu-item-21">
                <a href="home.html">Home</a></li>
              <li id="menu-item-22"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-22">
                <a>About US</a>
                <ul>
                  <li id="menu-item-157"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157">
                    <a href="company-profile/company.html">Company Profile</a></li>
                  <li id="menu-item-167"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167">
                    <a href="home.html">Corporate Overview</a></li>
                  <li id="menu-item-676"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-676">
                    <a href="home.html">Certification</a></li>
                </ul>
              </li>
              <li id="menu-item-28"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-28">
                <a href="home.html">Products</a>
                <ul>
                  <li id="menu-item-29"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29">
                    <a href="../../l-1/second-pages/product/wall-tiles.html"> Tiles</a></li>
                </ul>
              </li>
              <li id="menu-item-33"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-33">
                <a href="home.html">Tools</a>
                <ul>
                  <li id="menu-item-200"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-200">
                    <a href="home.html">Download E-Brochure</a></li>
                  <li id="menu-item-153"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153">
                    <a href="./calc.html">Tile Calculator</a></li>
                </ul>
              </li>
              <li id="menu-item-598"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-has-children menu-item-598">
                <a href="home.html">News &#038; Blog</a>
                <ul>
                  <li id="menu-item-113"
                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-113">
                    <a href="home.html">News</a></li>
                  <li id="menu-item-600"
                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-600">
                    <a href="home.html">Blog</a></li>
                </ul>
              </li>
              <li id="menu-item-198"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-198"><a
                  href="./contactus.html">Contact Us</a></li>

            </ul>

            <a href="home.html" class="respNav"> <span>Navigation</span> </a>

            <div class="headSocialIcon">

              <a href="home.html" class="socialMedia"></a>

              <div class="smIconGroup">

                <a href="home.html" class="smIcon fbIcon" target="_blank"></a>

                <a href="home.html" class="smIcon twIcon" target="_blank"></a>

                <a href="home.html" class="smIcon liIcon" target="_blank"></a>

                <a href="home.html" class="smIcon pinIntIcon" target="_blank"></a>

                <a href="home.html" class="smIcon ytubeIcon" target="_blank"></a>

              </div>

            </div>

          </div>

        </div>

      </div>

  </div>
</div>-->
<app-navbar></app-navbar>

<router-outlet></router-outlet> 
