<!-- <div class="company-page" >
</div> -->
<app-header></app-header>

<div class="py-4">
    <div class="container py-3">
        <p class="h2 text-center text-uppercase">
            THE Marcopolo GROUP
        </p>
        <p class="h2 text-center text-uppercase">Our Story</p>
        <p class="line-height h6">Founded in October 2010, Zambia Wonderful Group is a company founded in Zambia and developed in Africa. Its predecessor was Wonderful Industry Co., Ltd... At the beginning of the company's establishment, there were only a few people. After nine years of development, it has become a large-scale comprehensive enterprise with more than 100 expats and more than 1,200 local employees. 
	On October 9th, 2017, the company officially put into production, which mainly produces high-grade polished tiles. Marco Polo Tiles Co., Ltd. is still the only company in Africa that produces polished tiles now and has become a flag in the African tile industry. On December 1st, 2017, Zambian President Edgar Lungu, Chinese Ambassador to Zambia, Yang Youming and Zambian government officials came to cut the ribbon for the company, which also marked the company's development to an unprecedented height. In July 2018, the second phase of Marco Polo Tiles, with an investment of 150 million RMB, was officially launched. It is expected to be officially put into operation on April 1st, 2019, when Zambia will officially bid farewell to the era of ceramic tile import.</p>
    </div>
  </div>
<app-footer></app-footer>