<app-header></app-header>
<div class="py-4">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-5">
                <img src="assets/images/slide3.jpg" class="img-fluid">
            </div>
            <div class="col-md-7">
                <p class="h6 ">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who
                    is
                    thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen
                    book.</p>
                <p class="h6 ">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who
                    is
                    thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen
                    book.</p>
            </div>
        </div>
        <div class="row my-5">
           
            <div class="col-md-7">
                <p class="h6 ">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who
                    is
                    thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen
                    book.</p>
                <p class="h6 ">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who
                    is
                    thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen
                    book.</p>
            </div>
            <div class="col-md-5">
                <img src="assets/images/slide3.jpg" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-5">
            <div class="col-md-5">
                <img src="assets/images/slide3.jpg" class="img-fluid">
            </div>
            <div class="col-md-7">
                <p class="h6 ">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who
                    is
                    thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen
                    book.</p>
                <p class="h6 ">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who
                    is
                    thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen
                    book.</p>
            </div>
        </div>
        <div class="row my-5">
           
            <div class="col-md-7">
                <p class="h6 ">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who
                    is
                    thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen
                    book.</p>
                <p class="h6 ">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who
                    is
                    thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen
                    book.</p>
            </div>
            <div class="col-md-5">
                <img src="assets/images/slide3.jpg" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row my-5">
            <div class="col-md-5">
                <img src="assets/images/slide3.jpg" class="img-fluid">
            </div>
            <div class="col-md-7">
                <p class="h6 ">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who
                    is
                    thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen
                    book.</p>
                <p class="h6 ">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who
                    is
                    thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen
                    book.</p>
            </div>
        </div>
        <div class="row my-5">
           
            <div class="col-md-7">
                <p class="h6 ">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who
                    is
                    thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen
                    book.</p>
                <p class="h6 ">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who
                    is
                    thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen
                    book.</p>
            </div>
            <div class="col-md-5">
                <img src="assets/images/slide3.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>