<app-header></app-header>
<div class="wonderful-story">
    <div class="container py-5  ">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="assets/images/aboutImg.gif" alt="About Img">
            </div>
            <div class="col-md-6">
                <p class="h2 text-info">MARCOPOLO<br> STORY </p>
                <p class="h6 line-height">Marcopolo Tiles Company limited is one the companies under WONDERFUL GROUP OF COMPANIES based in Zambia .It is a professional involved in research, manufacturing of ceramics, porcelains and marble tiles for interior and exterior decorations. Our products are of high quality and meet up with the international standards .Now for the first time in Zambia; we have the massive and probably the largest international manufacturing company ,completely southern Africa to meet your demands for ceramics, porcelain and marble tiles
                    </p><br>
                <button type="button" mdbBtn color="primary" routerLink="/company" mdbWavesEffect>full story</button>
            </div>
        </div>
    </div>
</div>
<div class="products">
    <div class="container py-5 ">
        <div class="row">
            <div class="col-md-6 tile-product pr-0">
                <p class="h1 pt-5 text-secondary ">OUR TILE<br> PRODUCTS</p>
                <div class="py-3 px-3 differ">
                <p class=" line-height">Marcopolo Tiles has positively incorporated “Taking the substantive attitude and prioritizing innovation and artistic esthetics” into its operation concept and put a higher premium on product quality and brand image. In addition, Marco Polo Group well known in the industry for its wonderful quality and service. Furthermore, it is also an advantageous enterprise of endowed with many intellectual property rightsin</p>
                <div class="row">
                    <div class="col-6">
                        <h3 class="text-white">WALL
                                TILES</h3>

                        <ul class="text-white">
                            <li > 300 x 600 </li>
                       
                            <li> 260 x 400</li>
                        </ul>
                    </div>
                    <div class="col-6 ">
                        <h3 class="text-white">FLOOR
                                TILES</h3>
                        <ul class="text-white">
                            <li>600 x 600
                               </li>
                            <li> 260 x 400
                            </li>
                            <li>600 x
                                    300 </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-6 pl-0">
                <mdb-carousel [animation]="'slide'">
                    <mdb-carousel-item>
                      <img class="d-block w-100" src="assets/images/minislide1.jpg" alt="First slide">
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img class="d-block w-100" src="assets/images/minislide2.jpg" alt="Second slide">
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                      <img class="d-block w-100" src="assets/images/minisliude3.jpg" alt="Third slide">
                    </mdb-carousel-item>
                  </mdb-carousel>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>