<app-header></app-header>
<div class="py-4">
    <div class="container py-3">


        <p class="h2 text-center text-uppercase">Corporate Overview</p>
        <p class="line-height h6">Marcopolo Tiles has been no.1 Zambian tile manufacturing company under wonderful group
            of industries, Marcopolo Tiles is known for its polished porcelains, glazed porcelain and matt porcelain
            tiles with exclusive designs. Wonderful group is not only into manufacturing of tiles but also pvc ceilings
            ,wall skimming (Interior/Exterior) and also the tile fix and the required accessories for the ceilings.</p>
    </div>
    <div class="py-4">
        <div class="container py-3">


            <p class="h2 text-center text-uppercase">Vision & Mission</p>
            <p class="line-height h6">OUR MISSION <br> To establish an excellent tiles manufacturing business whose
                products will be retailed around and in Zambia, but also be exported to other countries of the world. We
                want to become the number one choice for building material retailers and construction giants.

            <p class="line-height h6">OUR VISION <br> To become the leading tiles Manufacturer by providing enhanced
                services, relationship, profitability and provide quality services that exceeds the expectations of our
                esteemed customers</p>


        </div>
        <div class="container py-3">
            <div class="row">
                <div class="col-md-8">
                    <p class=" h3 py-3">CEO’S MESSAGE </p>
                    <p class="line-height h6">
                        We are glad to introduce you to marco polo tiles, and appreciate your interest and your
                        involvement <br>in our company.he business environment and market in which we operate is
                        continuously evolving <br> and changing, but our core values are constant.<br><br>
                        We are a leader in the supply of marbles Tiles, and granite. We managed to get long-term brand
                        <br>value commitments from our loyal customers. We want to personally assure you that YOU are
                        our <br> first priority whether you have been our customer for years, a new customer, or are
                        just evaluating <br> us.
                        We are the leading Importer and Exporter from different countries around the world. Our
                        portfo<br>-lio of products and services are focused on manufacturing porcelain tiles. We always
                        keep ourselves updated with market trends and therefore we keep updating ourselves with new
                        products and finishes to meet the Global Market demands.<br>
                        Our experienced and professional team personally selects the stones and determines its quality
                        before selling it to our customers. We believe that every stone has its own unique
                        characteristics, which we must be enhanced with extraordinary finishes. We, at Wonderful group,
                        are motivated to strive for excellence and professionalism.<br>
                        We, at Wonderful group, are motivated to strive for excellence and professionalism<br>
                        Thank you<br>
                        Mr.Huang Yaochi <br>
                        CEO, Marcopolo Tiles company limited
                    </p>
                </div>
                <div class="col-md-4 pt-5">
                    <img class=" size-full wp-image-994 img-fluid"
                        src="https://res.cloudinary.com/niteoit-solutions/image/upload/v1591934214/Screenshot_2020-05-19_at_8.40.32_PM_muaylf_mfvjos.png"
                        style="float: right;" alt="Ravi Rajpurohit">

                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>